
*{
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.artis{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-wrap: wrap;
}
.carta{
   margin:2rem
}

.img-carta{
   height: 200px;
}

.boton{
   margin-top: 1rem;
}