.img{
    width:100%;
    
}

.imglogo{
    width: 50%;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    justify-content: center;
    height: 10rem;
    
}

.facebook{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.nav{
 
    width: 100%;
}